body {
    font-size: 1.125rem;
    font-family: 'Bai Jamjuree', sans-serif;
    color: hsl(201, 11%, 66%);
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

/* Typography */
strong, h1, h2, h3, footer {
    color: hsl(210, 10%, 33%);
}

a {
    color: inherit;
}

strong{
    font-weight: 600;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

.download-btn {
    color: white;
}


/* Layout */
.section-container {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 4em;
    text-align: center;
}

header {
    background: url("./images/bg-header-mobile.png") no-repeat center;
    background-size: cover;
}

.header-logo {
    max-width: 30%;
    margin: 0 auto;
    padding-top: 7rem;
    padding-bottom: 2rem;
}

.container-download-btns {
    width: 100%;
    margin: 0px auto;
}

.download-btn {
    border-radius: 2rem;
    font-size: 1.25rem;
    width: 100%;
    padding: 1em 2em;
    margin: 0.5em 0;
    border: none;
}

.cyan-btn {
    background-color: hsl(171, 66%, 44%);
    box-shadow: 0px 3px hsl(171, 66%, 34%);
}

.light-blue-btn {
    background-color: hsl(233, 100%, 69%);
    box-shadow: 0px 3px hsl(233, 46%, 50%);
}

.outer-container-features p {
    margin: 0;
}

.container-features-text {
    margin: 0 auto;
}

.computer-screen-img, .devices-img {
    width: 90%;
    margin: 2em auto;
}

.icon {
    margin: 2em auto;
}

.partner-logo {
    margin: 3.5em auto;
}

.partner-logo:first-of-type {
    margin-top: 4em;
}

.tool:first-of-type {
    margin-top: 5em;
}

footer {
    background-color: hsl(0, 0%, 95%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 0;
}

.container-social-media {
    width: 35%;
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    
}

.footer-logo {
    width: 15%;
    margin: 0 auto;
    margin-bottom: 1em;
}

footer a {
    text-decoration: none;
    margin: .5em auto;
}